* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
.customNav {
  background: linear-gradient(to right, #002242, black);
  min-height: 10vh;
  /* background: red; */
}
.buysellVideo{
  mix-blend-mode: lighten !important;
}

.cex{
  width: 12rem;
  padding: 1rem 0;
  background: #2bc9fb;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 20px;
}
.dex{
  width: 12rem;
  padding: 1rem 0;
  background: red;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 20px;
}
@media screen and (max-width : 950px) {
  .dex{
    width: 7rem !important;
  }
  .cex{
    width: 7rem !important;
  }
  .buySellContentContainer h1{
    font-size: 30px !important;
    margin: 1rem 0  ;

  }
  .buySellContentContainer p{
    font-size: 15px !important;

  }
  
}
.customNav h1 {
  font-weight: 700;
  font-size: 30px;
}
.customNav nav {
  min-height: 10vh;
}

.fixed-container {
  background: #002242;
}
.logoImage {
  width:70px;
  margin-right: 10px;

  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}
.footerSocialsIcons i{

  font-size: 30px;
}

.footerH5 {
  margin-bottom: 1rem;
}
.footerContainer {
  background: #212121;
  padding: 5rem 0;
}
.footerContainer h5 {
  color: #9e9e9e !important;
}
.certificate {
  width: 18rem;
  padding: 0.5rem 0.5rem;
  border: 1px solid #9e9e9e;
  border-radius: 10px;
}
.certificate i {
  color: blue;
  font-size: 40px;
}
.certificate img {
  filter: invert(1);
}
.sheild {
  height: 50px;
  filter: invert(0) !important;
}
.certificate h1 {
  font-size: 18px;
  letter-spacing: 2px;
  width: 100%;
}
.customFooter a {
  color: white;
}
.customFooter i {
  font-size: 25px;
}
@media screen and (max-width: 1000px) {
  .logoImage {
    width: 80px !important;
    height: 80px !important;
  }
  .customNav h1 {
    font-size: 25px;
    margin: auto 0;
  }
  .customFooter {
    margin-bottom: 2rem;
  }
  .customFooter img {
    width: 150px !important;
    height: 150px !important;
  }
  .footerIcons {
    width: 100% !important;
  }
  .customFooterContact{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }
  .footerSocialsIcons{
    display: flex;
    align-items: center !important;
    flex-direction: column;
    margin-bottom: 3rem;
    justify-content: center !important;
  }
}
